@font-face {
    font-family: lato-light;
    src: url(../../vendors/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: lato-regular;
    src: url(../../vendors/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: lato-light-italic;
    src: url(../../vendors/fonts/Lato-LightItalic.ttf);
}
/* Global------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
    color: rgb(59, 53, 53);
    font-family: lato-regular, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
section {
    padding: 80px 0;
}
h2 {
    font-size: 180%;
    font-weight: 355;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 25px;
    content: "";
    width: 166px;
}
.box {
    padding: 1%;
}
h3 {
    font-weight: 500;
    font-size: 110%;
    margin-bottom: 15px;
}
/* header--**************************************************** */
header {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.562),
            rgba(0, 0, 0, 0.562)
        ),
        url(image/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav {
    float: right;
    list-style-type: none;
    text-decoration: none;
    margin-top: 44px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0;
    color: rgb(224, 210, 210);
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e45b00;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: azure;
    font-size: 240%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.hero-text-box {
    position: absolute;
    max-width: 1140px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}
/*  --Bottoms****************************************************** */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 150px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}
.btn-full:link,
.btn-full:visited {
    background-color: #d35400;
    border: 1px solid #d35400;
    color: beige;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #d35400;
    color: #e67e22;
    margin-left: 25px;
}
.btn:hover,
.btn:active {
    background-color: #ff6a07;
    border: 1px solid #ff6a07;
    color: #b2bec3;
}
/* Section-Features *************************************** */
.long-copy {
    line-height: 144%;
    width: 70%;
    margin-left: 15%;
}
.box p {
    font-size: 90%;
    line-height: 133%;
}
.icon-big {
    font-size: 333%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
/* Meals ******************************************* */

.meals-showcase {
    list-style: none;
    width: 100%;
}
.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}
.meal-photo {
    width: 100%;
    margin: 0;
}
.meal-photo img {
    width: 100%;
    height: auto;
}
/* How it Works section *********************************** */
.steps-box {
    margin-top: 30px;
}
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}
.steps-box:last-child {
    padding-left: 3%;
}
.app-screen {
    width: 55%;
}
.works-step {
    margin-bottom: 55px;
}
.works-step div {
    display: inline-block;
    color: #d35400;
    width: 50px;
    height: 50px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 166%;
    margin-right: 26px;
}
